@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --nave-color: #3b5998;
  --storyblue-color: #1877f2;
  --grey-color: #e4e6eb;
  --text-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  min-width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  background-color: var(--nave-color);
}
header div.navBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header div.navBar h3 {
  text-align: center;
  color: var(--text-color);
  font-weight: 500;
  font-size: 15px;
}
header div.navBar i {
  color: var(--text-color);
  padding: 10px;
  position: absolute;
  top: 5px;
  left: 0;
}
section.body div.cover-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: relative;
}
section.body div.cover-photo img {
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 160px;
  object-fit: cover;
  position: relative;
  z-index: 0;
}
section.body div.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
section.body div.profile-picture-story-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px; /*152*/
  height: 140px; /*152*/
  border-radius: 50%;
  border: 5px solid #1877f2;
  position: absolute;
}
section.body div.profile-picture-story-1bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px; /*144*/
  height: 140px; /*144*/
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  z-index: 1;
}
section.body div.profile-picture-story-2bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px; /*161*/
  height: 140px; /*161*/
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
}

section.body div.profile-picture-story-bar img {
  /* margin: 15px 10px 0; */
  width: 130px; /*135*/
  border-radius: 50%;
  object-fit: cover;
  z-index: 0;
  position: absolute;
}

section.body div.coverAndPp {
  position: relative;
}
section.body div.cvBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 15px 14px 0;
  width: 95%;
}
section.body div.cvChange {
  position: absolute;
  background-color: var(--grey-color);
  border-radius: 5px;
  z-index: 201;
  bottom: 10px;
  right: 10px;
}

section.body div.ppChange {
  position: absolute;
  background-color: var(--grey-color);
  border: 2px solid white;
  border-radius: 50%;
  z-index: 200;
  bottom: 0;
  right: 0;
}
.pp {
  height: 65px;
}
section.body div.cvChange i.fa-camera {
  font-size: 15px;
  margin: 6px;
}
section.body div.ppChange i.fa-camera {
  margin: 10px;
}
section.body div.profileName {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
section.body div.profileName h3 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -1px;
  word-spacing: 2px;
  text-align: center;
}
section.body div.profileName i {
  color: rgb(110, 110, 110);
  font-size: 13px;
  padding: 5px;
}
section.body div.bioDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
section.body div.bio {
  text-align: center;
}
section.body div.bio a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  line-height: 10px;
}
section.body div.editbuttons-wapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
section.body div.editbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 0 15px;
}

section.body div.editbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--storyblue-color);
  margin-right: 12px;
  color: white;
  width: 95%;
  border-radius: 7px;
}
section.body div.morebutton {
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--grey-color);
  border-radius: 7px;
}
section.body div.morebutton a {
  margin-bottom: 5px;
}
section.body div.editbutton a i {
  margin-right: 5px;
}
